<!DOCTYPE html>
<html lang="ca">
<head>
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1.0 ,maximum-scale=1.0, minimum-scale=1.0">
	<meta charset="UTF-8"><meta name="description" content="Tecnologia web">
	<title>El primer web en HTML5 i CSS3</title>
	<link href="elMeuEstil.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="fonts.css">
	<link rel="stylesheet" href="style.css">
	<script src="https://code.highcharts.com/highcharts.src.js"></script>
   

</head>

<body>

	<div id="wrapper">
	
	
	
	
	
 
<header >


					
<Div>		



	
			 <nav class="guarilla">
			 
			 <ul >
			
			 <h1 id = "titulo" float: right  > Mis inversiones </h1>
		
			 			 
			 <li><a href="Formulario de acceso/formulario estilo instagram.html"> <b>Registrate</b></a></li>
			 <li><a href="Formulario de acceso/formulario estilo instagram.html"> <b>Monotorización en tiempo real </b></a></li>
			 <li><a href="Formulario de acceso/formulario estilo instagram.html"> <b>Noticias </b></a></li>
			<li><a href="quisom.html"><span class="icon-info"></span><b>Inicia Sesion </b></a></li>
				<li><a href="contacte.html"><span class="icon-phone"></span></span><b>Ayuda </b> </a></li>
				<li><a href="ht/p://latendasurmesure.byethost5.com/"><span class="icon-cart"></span><b> ES</b></a>
			 <ul>
			 <li><a href="http://latendasurmesure.byethost5.com/"><span class="icon-cart"></span><b> Ingles</b></a></li>
			 	 </ul>
			 
			</ul>
			</nav>
			
			</div>

</header>

		<!-- inici del menú horitzontal -->
		<
		<!-- fi del menú horitzontal -->


		<!-- inici de la secció principal -->
		<section>
		
		<br>
			<br>
			<br>
		
		
  <h2>Gestiona tu cartera </h2> 
  <section>
    <h1>Introducción</h1>
    <p>En esta sección, ampliaremos nuestro concepto del pato.
  </section>
		<br>
		<br>
      <section class="contingut">			

					<div id="container1" style="min-width: 310px; height: 400px; margin: 0 auto"></div>




				<script type="text/javascript">

Highcharts.chart('container1', {
    chart: {
        type: 'area'
    },
    title: {
        text: 'Posicion Global'
    },
    subtitle: {
        text: 'Source: Wikipedia.org'
    },
    xAxis: {
        categories: ['1750', '1800', '1850', '1900', '1950', '1999', '2050'],
        tickmarkPlacement: 'on',
        title: {
            enabled: false
        }
    },
    yAxis: {
        title: {
            text: 'Billions'
        },
        labels: {
            formatter: function () {
                return this.value / 1000;
            }
        }
    },
    tooltip: {
        split: true,
        valueSuffix: ' millions'
    },
    plotOptions: {
        area: {
            stacking: 'normal',
            lineColor: '#666666',
            lineWidth: 1,
            marker: {
                lineWidth: 1,
                lineColor: '#666666'
            }
        }
    },
    series: [{
        name: 'BITCOIN',
        data: [502, 635, 809, 947, 1402, 3634, 5268]
    }, {
        name: 'ETHERUM',
        data: [106, 107, 111, 133, 221, 767, 1766]
    }, {
        name: 'ROGERCOIN',
        data: [163, 203, 276, 408, 547, 729, 628]
    }, {
        name: 'America',
        data: [18, 31, 54, 156, 339, 818, 1201]
    }, {
        name: 'Oceania',
        data: [2, 2, 2, 6, 13, 30, 46]
    }]
});
		</script>
		
		
				</section>

	
	<br>
		<br>
		<br>
		
		
		
		<br>
		<br>
		
			

	
	<section>

	
	<div id="container2" style="min-width: 310px; height: 400px; margin: 0 auto"> </div>
<form action="prog.php" method="post" name="formu" id="formu" 
      onsubmit="return comprobar()">
   Tu nombre: <input type="text" name="nombre" value=""><br>
   Tu edad:   <input type="text" name="edad" value="" size="2" maxlength="2"><br>
              <input type="submit" value="   Enviar   ">
              
              
              
              
              
              
              
              
</form>

<script language="javascript">
function comprobar()
{
   var nombre = document.formu.nombre.value;
   var edad = document.formu.edad.value;

   if (nombre.length > 30)
   {
      alert("Tu nombre es demasiado grande. Redúcelo.");
      return false;
   }
   
   if (edad >= 20 && edad <= 40)
   {
      alert("Si tienes entre 20 y 40 años, no puedes usar este programa.");
      return false;
   }
   
   return true;
}
</script>




	<script type="text/javascript">
Highcharts.chart('container2', {
    chart: {
        type: 'pie',
        options3d: {
            enabled: true,
            alpha: 45
        }
    },
    title: {
        text: 'Posicion Global'
    },
    subtitle: {
        text: '3D donut in Highcharts'
    },
    plotOptions: {
        pie: {
            innerSize: 100,
            depth: 45
        }
    },
    series: [{
        name: 'Delivered amount',
        data: [
            ['Bitcoins', 4],
            ['ETHERUM', 3],
            ['Mixed nuts', 1],
            ['Oranges', 6],
           
        ]
    }]
});
		
		
		
		</script> 

		</section>
	<br><br>
	
	<section>
	
		
<table id="customers">
 
 <tr>
    <th>Moneda</th>
    <th>Cotizacion</th>
    <th>Cantidad </th>
    <th>Variacion </th>
    <th> Porcentaje de la cartera </th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Bitcoin</td>
    <td>Christina Berglund</td>
    <td>Sweden</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
  </tr>
  <tr>
    <td>Ernst Handel</td>
    <td>Roland Mendel</td>
    <td>Austria</td>
  </tr>
  <tr>
    <td>Island Trading</td>
    <td>Helen Bennett</td>
    <td>UK</td>
  </tr>
  <tr>
    <td>Königlich Essen</td>
    <td>Philip Cramer</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Laughing Bacchus Winecellars</td>
    <td>Yoshi Tannamuri</td>
    <td>Canada</td>
  </tr>
  <tr>
    <td>Magazzini Alimentari Riuniti</td>
    <td>Giovanni Rovelli</td>
    <td>Italy</td>
  </tr>
  <tr>
    <td>North/South</td>
    <td>Simon Crowther</td>
    <td>UK</td>
  </tr>
  <tr>
    <td>Paris spécialités</td>
    <td>Marie Bertrand</td>
    <td>France</td>
  </tr>
</table>

	
	
	
			</section>	
	
			
		<!-- fi de la secció-->
				
		<!-- barra lateral-->


<div class="rightcolumn">
    <div class="card">
      <h2>About Me</h2>
      <div class="fakeimg" style="height:100px;">Image</div>
      <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
    </div>
			
			
		
		<!-- Fi barra lateral --->
	

		<!-- Inici del peu de pàgina-->
	
	
	
	<footer>

<p> Sur Mesure   </p>  

  
	</footer>
	
	</div>
	
</body>
</html>